.button {
  background-color: #4c6ef5;
  width: 10rem;
  border: 0;
  border-radius: 10px;
  padding: 0.7rem 1.5rem;
  color: #fff;
  cursor: pointer;
}

.button:active {
  outline: none;
}

.button:active,
.button:hover {
  background-color: #748ffc;
}
